* {
  font-size: 25px;
}

.app {
  text-align: center;
  width: 500px;
  margin: 10px auto;
}

.app h1 {
  margin: 10px 0;
  font-size: 80px;
  font-weight: 200;
  color: grey;
}

.new-todo {
  width: 100%;
  margin-bottom: 10px;
}

.todo {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.todo input {
  transform: scale(1.7);
  vertical-align: top;
  margin: 7px 20px 0 4px;
}

.bottom > div {
  display: inline-block;
  font-size: 14px;
  width: 150px;
}

.bottom .filters {
  text-align: center;
  width: 200px;
}

.bottom button {
  background: none;
  outline: none;
  border: 1px solid transparent;
  font-size: 14px;
  padding: 3px 4px;
  margin: 0 5px;
  cursor: pointer;
}

.bottom button:hover {
  border: 1px solid #eee;
}

.bottom button.active {
  border: 1px solid #ddd;
}
